[submodule "libpicofe"]
	path = frontend/libpicofe
	url = https://github.com/FunKey-Project/libpicofe.git
[submodule "warm"]
	path = frontend/warm
	url = https://github.com/FunKey-Project/warm.git
[submodule "libchdr"]
	path = libchdr
	url = https://github.com/rtissera/libchdr.git
