[submodule "libpicofe"]
	path = frontend/libpicofe
	url = https://github.com/gameblabla/libpicofe.git
	branch = funkey_chn
[submodule "warm"]
	path = frontend/warm
	url = https://github.com/notaz/warm.git
[submodule "libchdr"]
	path = libchdr
	url = https://github.com/rtissera/libchdr.git
